@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav .container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    margin-top: 58px;
}

nav .brand {
    font-size: 22px;
    font-weight: 600;
}

nav .menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav .menu-item {
    text-decoration: none;
    color: #000;
    opacity: 0.8;
}

nav .menu-item-active {
    opacity: 1;
    font-weight: 600;
}

nav .menu-item:hover {
    opacity: 1;
    border-bottom: 2px solid #000;
}

nav .sign-up {
    display: flex;
    text-decoration: none;
    padding: 10px 25px;
    color: #000;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}